@model List<LibraryAutomation.Entities.Model.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                Üye Listesi
            </div>
            <div class="ibox-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Adı Soyadı</th>
                            <th>Telefon Numarası</th>
                            <th>Adres</th>
                            <th>Email</th>
                            <th>Görsel</th>
                            <th>Kayıt Tarihi</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@Html.DisplayFor(x => item.Id)</th>
                                <td>@Html.DisplayFor(x => item.NameSurname)</td>
                                <td>@Html.DisplayFor(x => item.PhoneNumber)</td>
                                <td>@Html.DisplayFor(x => item.Address)</td>
                                <td>@Html.DisplayFor(x => item.Email)</td>
                                <td><img src="@item.ImagePath" width="100" height="100" /></td>
                                <td>@Html.DisplayFor(x => item.CreatedDate)</td>
                                <td>
                                    @Html.ActionLink("Düzenle", "Update", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Kayıt silinsin mi?')" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="form-group">

                    @Html.ActionLink("Yeni", "Add", null, new { @class = "btn btn-success" })

                </div>
            </div>
        </div>
    </div>
</div>


