@model List<LibraryAutomation.Entities.Model.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                Kitap Listesi
            </div>
            <div class="ibox-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <td>Kullanıcı</td>
                            <td>Adı Soyadı</td>
                            <td>Telefon</td>
                            <td>E-Mail</td>
                            <td>Kayıt Tarihi</td>
                            <td>İşlemler</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@Html.DisplayFor(x => item.Id)</th>
                                <th>@Html.DisplayFor(x => item.UserName)</th>
                                <th>@Html.DisplayFor(x => item.NameSurname)</th>
                                <th>@Html.DisplayFor(x => item.PhoneNumber)</th>
                                <th>@Html.DisplayFor(x => item.Email)</th>
                                <th>@Html.DisplayFor(x => item.CreatedDate)</th>
                                <th>
                                    @Html.ActionLink("Düzenle", "Update", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" }) |
                                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Kayıt silinsin mi?')" }) | 
                                    @Html.ActionLink("Rolleri", "UserRoles", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="form-group">

                    @Html.ActionLink("Yeni", "Add", null, new { @class = "btn btn-success" })

                </div>
            </div>
        </div>
    </div>
</div>

