@model LibraryAutomation.Entities.Model.Announcement

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                Duyuru Listesi
            </div>
            <div class="ibox-body">
                <table class="table table-bordered table-striped" id="tbl">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <td>Başlık</td>
                            <td>Duyuru</td>
                            <td>Açıklama</td>
                            <td>Tarih</td>
                            <td>İşlemler</td>
                        </tr>
                    </thead>
                    <tbody>
                        @*
                            Bu kisimda ajax ile duyurulari listeletiyoruz
                        *@
                    </tbody>
                </table>

                <div class="form-group">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" onclick="Add()">
                        Yeni
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap Modal ile Duyuru Ekleme islemi -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Duyuru Ekleme Sayfası</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="data-form">
                    <div id="textSil">
                        <div class="form-group">
                            @Html.HiddenFor(a => a.Id, new { @class = "form-control", placeholder = "Id", id = "txtId", Value = 0 })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Title, new { @class = "form-control", placeholder = "Başlık", id = "txtTitle" })
                            @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Content, new { @class = "form-control", placeholder = "Duyuru", id = "txtAnnouncement" })
                            @Html.ValidationMessageFor(x => x.Content, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(a => a.Explanation, new { @class = "form-control", placeholder = "Açıklama", id = "txtExplanation" })
                            @Html.ValidationMessageFor(x => x.Explanation, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.CreatedDate, new { @class = "form-control", type = "datetime-local", id = "txtDate" })
                            @Html.ValidationMessageFor(x => x.CreatedDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/AdminDashboard/admincast-master/html/dist/assets/vendors/jquery/dist/jquery.min.js"></script>

@* Bu kutuphaneyi tarih formatlamak icin dahil ettik. Eger projemizde olmasaydi nuget package'den Moment.js indirecektik(Y da intten linkini bularak) *@
<script src="~/AdminDashboard/admincast-master/html/dist/assets/vendors/moment/min/moment.min.js"></script>

<script>
    $(document).ready(function () {
        List();
    });
</script>

<script>
    function List() { // Sayfa yuklendigi zaman
        $.ajax({
            type: 'get',
            url: '@Url.Action("AnnouncementList","Announcement")',
            success: function (data) {

                $('#tbl tbody').html(''); // islemden sonra tbody temizlenecek, daha sonradan tekrar listelemek icin

                $.each(data, function (Index, item) { // dongu yardimiyla duyurulari listeleme
                    // Tarih formatlama islemi
                    var millisecond = parseInt(item.CreatedDate.substr(6));
                    var formattedDate = moment(millisecond).format('DD.MM.YYYY HH:mm:ss');

                    // Duyurulari row row listeleme
                    var row = '<tr> <th>' + item.Id +
                        '</th> <td>' + item.Title +
                        '</td> <td>' + item.Content +
                        '</td> <td>' + item.Explanation +
                        '</td> <td>' + formattedDate +
                        '</td> <td>'
                        +'<a href=# class="btnUpdate btn btn-warning btn-sm" data-id="' + item.Id + '" ><i class="fa fa-edit"></i></a> |'
                        + '<a href=/Announcement/Detail/' + item.Id +' class="btn btn-info btn-sm"><i class="fa fa-info"></i></a> |'
                        + '<a href=/Announcement/Delete/' + item.Id +' class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a> |'
                        +'</td> </tr > ';
                    $('#tbl tbody').append(row); // ilgili satiri id'si tbl olanin tbody'sine ekleme yap

                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>

@* Duyuru ekleme islemi *@
<script>
    $(document).ready(function () {
        $('#data-form').submit(function (e) {
            e.preventDefault(); // sayfanin yenilenmesini onlemek icin

            var formData = $(this).serialize();
            $.ajax({
                method: 'post',
                url: '@Url.Action("AnnouncementAdd")',
                data: formData,
                success: function (result) {
                    if (result.success) {
                        List(); // islem basarili ise listeleme islemini tekrar gerceklestir
                        $('#exampleModal').modal('hide'); // islem basarili ise modali kapat
                        alert(result.message); // Controller tarafina return ile dondurdugumuz json icindeki mesaj gosterilecek
                        Clean();
                    }
                    else {
                        // Validasyon hatasi olursa dongu ile hatalari gosterebilme islemi
                        $.each(result.errors, function (key, value) {
                            $('[data-valmsg-for="' + key + '"]').text('');
                            $('[data-valmsg-for="' + key + '"]').text(value[0]);
                        });
                    }
                }
            });
        });
    });
</script>

@* Duyuru guncelleme islemi *@
<script>
    $(document).on('click', '.btnUpdate', function () { // btnUpdate classina sahip butona tiklaninca asagidaki islemler gerceklesecek

        var id = $(this).data('id');
        $('#exampleModalLabel').html(id + ' Nolu Duyuru Güncelleme İşlemi');
        $.ajax({
            url: '/Announcement/AnnouncementGet/',
            type: 'get',
            dataType: 'json',
            data: { Id: id },
            success: function (result) {
                $('#exampleModal').modal('show'); // Basarili oldugunda modal acilsin

                $('#txtId').val(result.Id);
                $('#txtTitle').val(result.Title);
                $('#txtAnnouncement').val(result.Content);
                $('#txtExplanation').val(result.Explanation);

                // Tarih formatlama
                var timestamp = parseInt(result.CreatedDate.replace("/Date(", "").replace(")/", ""));
                var serverDate = new Date(timestamp);
                var correctedDate = new Date(serverDate.getTime() - serverDate.getTimezoneOffset() * 60000);
                var formattedDate = correctedDate.toISOString().slice(0, 16);

                $('#txtDate').val(formattedDate);
            },
            error: function () {
                alert('Bir hata oluştu');
            }
        });
    });
</script>

<script>
    function Clean() {
        $('#data-form').trigger('reset');
        $('#exampleModalLabel').html('Duyuru Ekleme Sayfası');
        $('#txtId').val('0');
    }
</script>

<script>
    function Add() {
        Clean();
    }
</script>
