@model LibraryAutomation.Entities.Model.BookTypes

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                Kitap Türü Güncelleme Sayfası
            </div>
            <div class="ibox-body">
                @using (Html.BeginForm("Update", "BookTypes", FormMethod.Post))
                {
                    @Html.AntiForgeryToken() @*Dogrulama(Fluent Validasyon) mesajlarinin gozukmesi icin *@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x=>x.Id)
                    <div class="form-group">
                        @Html.LabelFor(x => x.BookType)
                    </div>
                    <div>
                        @Html.TextBoxFor(x => x.BookType, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.BookType, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mt-4">
                        @Html.LabelFor(x => x.Explanation)
                    </div>
                    <div>
                        @Html.TextAreaFor(x => x.Explanation, new { @class = "form-control" })
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Düzenle" class="btn btn-warning" />
                    </div>
                }

            </div>
        </div>
    </div>
</div>



