@model List<LibraryAutomation.Entities.Model.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                Kitap Listesi
            </div>
            <div class="ibox-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <td>Kitap Türü</td>
                            <td>Barkod No</td>
                            <td>Kitap Adı</td>
                            <td>Yazarı</td>
                            <td>Eklenme Tarihi</td>
                            <td>Güncelleme Tarihi</td>
                            <td>İşlemler</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@Html.DisplayFor(x => item.Id)</th>
                                <th>@Html.DisplayFor(x => item.BookTypes.BookType)</th>
                                <th>@Html.DisplayFor(x => item.BarcodeNo)</th>
                                <th>@Html.DisplayFor(x => item.BookName)</th>
                                <th>@Html.DisplayFor(x => item.WriterName)</th>
                                <th>@Html.DisplayFor(x => item.InsertDate)</th>
                                <th>@Html.CheckBoxFor(x => item.IsDeleted)</th>
                                <th>
                                    @Html.ActionLink("Düzenle", "Update", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                                    @Html.ActionLink("Detay", "Detail", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Kayıt silinsin mi?')" })
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="form-group">
                    @Html.ActionLink("Yeni", "Add", null, new { @class = "btn btn-success" })

                </div>
            </div>
        </div>
    </div>
</div>

